@import "tailwindcss";
@import "tw-animate-css";
@import "@fontsource/montserrat";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-montserrat: "Montserrat", sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-input: var(--input);
  --color-primary: var(--primary);
  --color-shadow: var(--shadow);
}

:root {
  --shadow-card: 0px 8px 15px 0px
      color-mix(in srgb, var(--color-shadow) 12%, transparent),
    0px 0px 4px 0px color-mix(in srgb, var(--color-shadow) 10%, transparent);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --input: #cdcdcd;
  --primary: #2469f6;
  --shadow: #1414141f;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --input: #3a3a3a;
}

@layer base {
  body {
    @apply bg-background text-foreground font-montserrat;
  }
}
